
{{ template "header.tmpl" . }}

<h1>Task List</h1>
{{if .message}} 
    <h3>{{.message}}</h3>
{{end}}
<ul class="uk-list uk-list-divider uk-dark uk-padding" uk-accordion>
{{range $element := .commands}}
    <li>
        <div class="uk-accordion-title">
            {{if $element.Success}}
                <span class="uk-label uk-label-success">{{$element.StartTime | timestampToDate}}</span>
            {{else}}
                <span class="uk-label uk-label-danger">{{$element.StartTime | timestampToDate}}</span>
            {{end}}
            <a href="#" class="command">{{$element.Command}} <span class="uk-text-small">({{$element.UID}})</span></a>
        </div>
        <div class="uk-accordion-content">
            <div class="uk-light uk-background-secondary uk-padding">
                <p>
                # {{$element.Command}} <br>
                {{ $element.Output | byteToString }}
                </p>
                <a href="/tasks/{{$element.UID}}" class="uk-align-right uk-text-primary">Details</a>
            </div>
        </div>
    </li>
{{end}}
</ul>

{{ template "footer.tmpl" }}